parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\." between mixed and ''/framework/events…'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/AnnotationFinder.php

		-
			message: '#^Binary operation "\." between mixed and ''/framework/models…'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/AnnotationFinder.php

		-
			message: '#^Binary operation "\." between mixed and ''/framework/routes…'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/AnnotationFinder.php

		-
			message: '#^Cannot call method exists\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: src/AnnotationFinder.php

		-
			message: '#^Binary operation "\." between mixed and ''/'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/AnnotationsServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Container\\Container\:\:getNamespace\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/AnnotationsServiceProvider.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Foundation\\Application\:\:routesAreCached\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/AnnotationsServiceProvider.php

		-
			message: '#^Binary operation "\." between mixed and ''/framework/events…'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/EventScanCommand.php

		-
			message: '#^Binary operation "\." between mixed and ''/framework/models…'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/ModelScanCommand.php

		-
			message: '#^Binary operation "\." between mixed and ''/framework/routes…'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Console/RouteScanCommand.php

		-
			message: '#^Call to an undefined method Illuminate\\Container\\Container\:\:getNamespace\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Console/RouteScanCommand.php

		-
			message: '#^Access to an undefined property Collective\\Annotations\\Routing\\EndpointInterface\:\:\$classMiddleware\.$#'
			identifier: property.notFound
			count: 1
			path: src/Routing/Annotations/Annotations/Middleware.php

		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Routing/Annotations/Annotations/Middleware.php

		-
			message: '#^Method Collective\\Annotations\\Routing\\Annotations\\Annotations\\Resource\:\:getEndpointsWithResourceMethods\(\) should return array\<Collective\\Annotations\\Routing\\MethodEndpoint\> but returns array\<Collective\\Annotations\\Routing\\EndpointInterface\>\.$#'
			identifier: return.type
			count: 1
			path: src/Routing/Annotations/Annotations/Resource.php
