includes:
    - phpstan-baseline.neon
parameters:
    level: 6
    paths:
        - src/
        # - tests/
    checkExplicitMixed: true
    checkImplicitMixed: true
    excludePaths:
        - tests/Events/fixtures
        - tests/Filesystem/fixtures
        - tests/Models/fixtures
        - tests/Routing/fixtures
    typeAliases:
        AssocArray: 'array<string, mixed>'
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "#^Property .+ with generic class Reflection\\w+ does not specify its types#"
        - "#^Method .+ has parameter .+ with generic class Reflection\\w+ but does not specify its types#"
        - "#^Method .+ return type with generic class Reflection\\w+ does not specify its types#"
